@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: black !important;
  padding-top: 200px;
}

* {
  font-family: "Lato", sans-serif;
}

.hidden-buttons {
  display: none !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
  }

  body {
    background-color: black !important;
    padding-top: 300px;
  }

  .purple-section {
    flex-direction: column;
    text-align: center;
  }

  .purple-section span,
  .purple-section select,
  .purple-section button {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .purple-section select,
  .purple-section button {
    width: 100%;
  }
}
